[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycairo = "*"
cairocffi = "*"
pygobject = "*"
pyserial = "*"
sqlalchemy = "*"
matplotlib = "*"
bitstring = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.6"
